.venv/
__pycache__/
*.pyc
.pytest_cache/
.pytest_tmp/
.env
*.pth
*.pt
*.ckpt
*.safetensors

data/raw/*
!data/raw/.gitkeep
!data/raw/**/
!data/raw/**/.gitkeep

data/processed/*
!data/processed/.gitkeep
!data/processed/**/
!data/processed/**/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/**/
!outputs/**/.gitkeep

models/*
!models/.gitkeep
!models/**/
!models/**/.gitkeep

.ipynb_checkpoints/
.DS_Store
